.ob-top-user {
	padding: 1em;
	flex-basis: 19%;
	margin-right: 1em;
	color: white;
	//background-color: #333;
	background-color: #374146;
	display: flex;

	>div {
		padding: 0.5em;
	}

	p:first-child {
		font-size: 1.2em;
		font-weight: bold;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	// .ob-top-user {
	// 	flex-direction: column
	// }
}