.ob-top-user {
	padding: 1em;
	margin-right: 1em;
	background-color: #374146;

	display: flex;
	flex-basis: 19%;
	color: white !important;

	>div {
		padding: 0.5em;
	}


	p:first-child {
		font-size: 1.2em;
		font-weight: bold;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	// .ob-top-user {
	// 	flex-direction: column
	// }
}