<nav>
	<button class="hamburger" id="ob-global-nav-toggle">&#9776;</button>
	<ul id="globalNavigation" class="ob-fadeOut">
		<li><a href="/">Home</a></li>
		<li><a href="/news">News</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/donate">Donate</a></li>
		<% if (user) { %>
		<li><a href="/User/<%- user.steamID %>">My Data</a></li>
		<% } %>
		<% if (user && user.roles.indexOf('admin') > -1) { %>
		<li><a href="/Admin">Admin</a></li>
		<% } %>
	</ul>

	<% if (user) { %>
		<a id="userActionsToggle"><%= user.username %> <i class='fa fa-chevron-down'></i></a>
		<% include userActionsMenu %>
	<% } else { %>
		<div class="steamLogin">
			<a href="/User/Login/Steam" class="ob-nav-signin"><img src="/assets/images/sits_small.png"/></a>
		</div>
	<% } %>
</nav>