<div id="userActionsMenu" class="ob-hidden">
	<ul>
		<li><a href="/User/<%- user.steamID %>/Profile">Profile</a></li>
		<!--<li><a href="/User/Settings">Settings</a></li>-->
		<li><a href="/User/Logout">Logout</a></li>
	</ul>
</div>