<div id="userActionsMenu" class="ob-fadeOut">
	<ul>
		<li><a href="/User/<%- user.steamID %>/Profile">Profile</a></li>
		<li><a href="/Client">Get Client</a></li>
		<!--<li><a href="/User/Settings">Settings</a></li>-->
		<li class="filler">&nbsp;</li>
		<li><a href="/User/Logout">Logout</a></li>
	</ul>
</div>