<!doctype html>
<html>
<head>
	<% include ../partials/head.ejs %> 
	<link rel="stylesheet" type="text/css" href="/styles/main/breakdown.css"/>

	<style>

		#breakdownContent {
			background-image: url(<%- "/assets/images/backgrounds/" + Math.floor((Math.random() * 8) + 1) + ".jpg" %>);
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-color: inherit;
			background-size: 100% 100%;
			background-position: right top;
			transition: background-image 0.8s ease-in-out;
		}

		#breakdownContent >div:not(:first-child) {
			background-color: rgba(255, 255, 255, 0.3);
		}

	</style>
</head>
<body>

	<div class="ob-home">
		<% include ../partials/navigation %>

		<header>
			<img src="/assets/images/opbreakdownlogo-horizontal.png"/>
		</header>

		<%- body %>

	</div>

	<div id="content">
		<div id="loadingOverlay" class="ob-loading-overlay">
			<img src="/assets/images/ajax-loader.gif"/>
			<div><strong>Loading...</strong></div>
		</div>

		<div id="breakdownContent" data-ng-controller="breakdownAppController">
			<div class="breakdown-banner">
				<ng-include src="'/ng-partials/breakdown/Navigation/breakdownNav.html'"/>
			</div>

			<div class="ob-horizontal-ad-container">
				<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
				     style="display:inline-block;width:728px;height:90px"
				     data-ad-client="ca-pub-5941170862103259"
				     data-ad-slot="5488228125"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
	
			<div data-ng-view></div>

			<div class="ob-horizontal-ad-container">
				<!-- Large Horizontal -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:970px;height:90px"
				     data-ad-client="ca-pub-5941170862103259"
				     data-ad-slot="5986446524"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div> 
	</div>

	<script type="text/javascript">
		// (function() {
		// 	
		// 	overlay.style.backgroundColor = "red";
		// })();

		waitForAngular(function() {

			e = document.createElement('script');
			e.setAttribute('src', '/js/opBDbreakdown.js');
			document.head.appendChild(e);

			angular.element(document).ready(function() {
				var breakdownApp = document.getElementById('breakdownContent');
				angular.bootstrap(breakdownApp, ['breakdownApp']);
			});
		});

	</script>
	<% include ../partials/footer.ejs %>
</body>
</html>