<!doctype html>
<html>
<head>
	<% include ../partials/head.ejs %> 
	<link rel="stylesheet" type="text/css" href="/styles/main/home.css"/>
</head>
<body>

	<% include ../partials/heading.ejs %>

	<div id="content">
		<div>
			<div class="left">
				<%- body %>
			</div>
			<div class="right">
				<!--<img src="//placehold.it/160x600"/>-->
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- ContentLayoutSidebar -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:160px;height:600px"
				     data-ad-client="ca-pub-5941170862103259"
				     data-ad-slot="3343307324"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	</div>

	<% include ../partials/footer.ejs %>

</body>
</html>