.ob-match-banner {
	display: flex;
	justify-content: center;
	font-size: 1.4em;
	font-weight: bold;

	div {
		padding: 10px;
	}
}

.ob-round-breakdown {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin: 10px;

	.fa-star {
		color: yellow;
		position: absolute;
		font-size: 1.3em;
		right: 2px;
		bottom: -12px;
	}

	>div {
		width: 20px;

		>div {
			position: relative;
		}

		>div:first-child {
			height: 85px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			&.ctWin {
				background: linear-gradient(to bottom, transparent, $ctWinColor);
			}

			&.tWin {
				background: linear-gradient(to bottom, transparent, $tWinColor);
			}
		}

		>div:nth-child(2) {
			height: 20px;
			margin-top: 10px;
			&.died {
				background: linear-gradient(to top, transparent, $deathCellColor)
			}
		}
	}
}