<div class="ob-round-breakdown">
	<div data-ng-repeat="(key, value) in roundData | toArray:true | orderBy: $key">
		<div data-ng-class="getRoundBreakdownCellClass(value.Team, value.Outcome)">
			<div data-ng-repeat="i in range(value.DamageData.Kills) track by $index">
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
			<div data-ng-if="value.MVP">
				<i class="fa fa-star" aria-hidden="true"></i>
			</div>
		</div>
		<div data-ng-class="value.DeathInfo &amp;&amp; value.Outcome === 'Loss' ? 'died' : ''">
			<i class="fa fa-times" aria-hidden="true" ng-if="value.DeathInfo"></i>
		</div>
		<div>{{value.$key}}</div>
	</div>
</div>