<% layout('layouts/fullwidth2') -%>

<h2>Credits</h2>

<h3>Development</h3>

<ul>
	<li>Tom "Else" Sears</li>
</ul>

<h3>Alpha Testing</h3>

<ul>
	<li>Josh "Wolfbrain" Justice</li>
	<li>James "Notalso" Kempsell</li>
	<li>Kevin "Jub Jub" Bark</li>
	<li>Christopher "SomeoneGNU" Cericola</li>
	<li>Ben "BanditB17" Oven</li>
</ul>

<h3>Design/Graphics Elements</h3>

<ul>
	<li>Christina Cericola <a href="http://csjstudios.com/">CSJStudios</a></li>
	<li>Max "Maxidocious" Mason</li>
</ul>

<h3>UX</h3>

<ul>
	<li>Brenden Gifford</li>
</ul>