<% layout('layouts/fullwidth2') -%>

<h2>Support Operation Breakdown!</h2>

<p>Operation Breakdown appreciates your support.  Your donations help cover hosting and development costs.</p>

<h3>Donate Cash</h3>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="38B2AUUCFPC9G">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


<h3>Donate Skins</h3>

<p>No cash? No problem. Skins help as well!</p>

<a class="ob-button-primary" href="https://steamcommunity.com/tradeoffer/new/?partner=352275346&token=ZTb3o9WV">Donate Skins</a>


