<% layout('layouts/home') -%>

<div class="ob-body">

	<div class="ob-centered"><img src="/assets/images/opbreakdownlogo.png"/></div>
	
	<div class="ob-signin-container">
		
		<div style="border-right: none">
		
			<h1>Thank you!</h1>
			<h2>Your email address has been verified.</h2>
			
		</div>
	</div>
</div>