<% layout('layouts/home') -%>

<div class="ob-body">

	<div class="ob-centered"><img src="/assets/images/opbreakdownlogo.png"/></div>
	
	<div class="ob-signin-container">
		
		<div>
		
			<h1>Oops!</h1>
			<h2>We seem to be having an issue</h2>
			<p>
				
			</p>
		</div>
	</div>
</div>