<% layout('layouts/fullwidth2') -%>

<h1>News</h1>

<h2>July 8th</h2>

<p>With the birth of my son, development has been a bit slow lately ;).</p>

<h3>Site</h3>

<ul>
	<li>Tweaked chart colors</li>
	<li>Misc internal updates</li>
	<li>New banner (Thanks, Max)</li>
	<li>Added donations page</li>
</ul>

<h3>Client</h3>

<ul>
	<li>Another tweak that seems to have taken care of parsing instability</li>
</ul>

<h3>

<h2>June 3rd, 2016</h2>

<h3>Site</h3>

<p>This summarizes several updates that have gone out over the last week.  Due to significant parser changes, all data will
have to be re-processed.</p>

<ul>
	<li>Round-by-round data including Kill/Death maps added to match detail</li>
	<li>Added feedback tab for easy submission of feedback</li>
	<li>Added W/L/T values to map overview row</li>
	<li>Enhanced tooltips on ADR, match history charts</li>
	<li>Navigation enhancements</li>
	<li>Initial addition of rank data (rankup matches, player ranks, avg rank for match)</li>
	<li>Enhanced round graphic header</li>
	<li>Added Kills/HS Kills per weapon to match detail</li>
	<li>Misc Bug fixes</li>
</ul>

<h3>Client</h3>

<div style="color: #d8000c; background-color: #ffbaba; border: 1px solid #d8000c; padding:5px; margin-bottom: 10px;">
	<i class="fa fa-exclamation-circle" aria-hidden="true"></i> If you encounter an error parsing, refresh, and re-upload.  It may only do a few at a time, but it should eventually make it through.
</div>

<ul>
	<li>Significant updates to match parser to support new statistics!</li>
	<li>Misc bug fixes and quality of life improvements</li>
	<li>Some tweaks to enhance stability</li>
</ul>

<h2>May 24th, 2016</h2>

<h3>Site</h3>

<ul>
	<li>Improved placeholder for friend avatars</li>
	<li>Used correct image for friend avatar (higher res)</li>
	<li>Added the ability to remove friends from the friends page</li>
	<li>Lots of behind-the-scenes work cleaning up code to make adding features go more smoothly</li>
</ul>		

<h2>May 20th, 2016</h2>

<h3>Site</h3>
<ul>
	<li>Massive performance boost to friends page.</li>
	<li>Performance enhancements to all other pages</li>
</ul>		

<h3>Client</h3>
<ul>
	<li>Max threads capped at two for now (stability issue) - blame Wolfbrain</li>
</ul>

<h2>May 18th, 2016</h2>

<h3>Site</h3>

<ul>
	<li>Work on friends list has begun.  Add friends from your matches, view some high-level stats on friends page. It's slow, and kind of ugly, but look for this to get better in the coming days.</li>
</ul>


<h2>May 12th, 2016</h2>

<h3>Site</h3>

<ul>
	<li>Swapped out charts for a faster, sexier framework.</li>
</ul>

<h2>May 11th, 2016</h2>

<h3>Site</h3>

<ul>
	<li>Added current streak to overall map summary</li>
	<li>UX Enhancements to overall map summary</li>
	<li>Updated KDA calculation: (kills + (assists * 0.4)) / deaths (an assist is worth 40% of a kill).</li>
</ul>

<h2>May 10th, 2016</h2>

<p>I'm going to start putting release notes here<p>

<h3>Site</h3>

<ul>
	<li>More data in the Overall Data section (round win rates - overall and per map).</li>
	<li>UX Enhancement on Weapon Info table in Match Data (hover was kind of bad)</li>
	<li>Misc behind-the-scenes changes to support future functionality</li>
</ul>

<h3>Client</h3>

<ul>
	<li>Multi-Threading: benchmarks are showing that it's going about twice as fast</li>
	<li>Ignores previously-uploaded demos</li>
	<li>Quality of life improvements to UI: refresh demos list &amp; upload again without restarting</li>
</ul>