<% layout('layouts/home') -%>

<div class="ob-body">

	<div class="ob-centered"><img src="/assets/images/opbreakdownlogo.png"/></div>
	

	<div class="ob-signin-container">
		
		<div class="ob-centered">
			<h1>Sign in to Operation Breakdown</h1>
			<p>In order to view matches, you must be signed in.</p>
			<a href="/User/Login/Steam"><img src="/assets/images/sits_large_noborder.png"/></a>
		</div>

		<div>
			<h1>By signing in to Operation Breakdown</h1>
			<ul>
				<li>You acknowledge that you've read and understood the <a href="/privacy">privacy policy</a></li>
				<li>You understand Operation Breakdown <strong>never</strong> is able to see your steam credentials</li>
				<li>
					You understand the information is provided for personal use only. <a href="mailto:contact@operation-breakdown.com">Contact us</a> for commercial/professional inquiries.
				</li>
			</ul>
		</div>

	</div>

	<div class="ob-horizontal-ad-container">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle"
		     style="display:inline-block;width:728px;height:90px"
		     data-ad-client="ca-pub-5941170862103259"
		     data-ad-slot="5488228125"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>