.ob-match-detail-container {
	background-position: top right;
	background-attachment: fixed;
	background-repeat: no-repeat;

	>div {
		//background-color: rgba(255,255,255,0.3);
		padding: 2em;
	}
}

.ob-match-detail-banner {
	display: flex;
}

.ob-match-detail-heading {
	display: flex;
	margin-right: 1em;

	h1, h2 {
		margin: auto;
	}

	>div {
		border-top: 1px solid #cecece;
		border-bottom: 1px solid #cecece;

		background-color: rgba(255,255,255,0.8);
		padding: 1em;

		&:first-child {
			border-left: 1px solid #cecece;
			padding-top: 4em;
		}

		&:last-child {
			border-right: 1px solid #cecece;
			padding-top: 3em;
		}
	}
}

.ob-round-graph-container {
	flex-grow: 1;
	background-color: rgba(31,46,63,0.9);
	color: rgba(255,255,255,0.5);
	border: 1px solid #cecece;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.ob-match-detail-banner {
		display: block;
	}

	.ob-match-detail-heading {
		margin-right: 0;
		margin-bottom: 1em;
		position: relative;

		>div:last-child {
			width: 100%;
		}

		>div {
			padding-top:5em !important;
		}

		h1 {
			position: absolute;
			top: 0.2em;
			left: 1em;
		}
	}

	.ob-match-detail-container > div {
		padding: 1em;
	}

	.ob-scoreboard {
		th, td {
			&:nth-child(3), &:nth-child(4) {
				display: none;
			}
		}

		img {
			width: 25%;
		}
	}

	.ob-chart-container {
		margin: 1em auto;
	}
}