.ob-weapon-info-table {
	.ob-col-headings th {
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}

	tbody {
		div.ob-body-damage-chart {
			-webkit-transition: max-height 0.8s;
			-moz-transition: max-height 0.8s;
			transition: max-height 1s;
		}

		tr.visible {
			div.ob-body-damage-chart {
				max-height: 500px;
			}
		}

		tr.hidden {
			div.ob-body-damage-chart {
				max-height: 0px;
			}
		}
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.ob-weapon-info-table {
		th, td {
			&:first-child, &:nth-child(5), &:nth-child(6), &:nth-child(7) {
				display: none;
			}
		}
	}
}