.ob-weapon-info-table {
	.ob-col-headings th {
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}

	tbody {
		div.ob-body-damage-chart {
			-webkit-transition: max-height 0.8s;
			-moz-transition: max-height 0.8s;
			transition: max-height 1s;
		}

		tr.visible {
			div.ob-body-damage-chart {
				max-height: 500px;
			}
		}

		tr.hidden {
			div.ob-body-damage-chart {
				max-height: 0px;
			}
		}
	}
}