.ob-time-chart-container {

	$borderColor: #808080;
	$backgroundColor: rgba(0,0,0,0.1);
	$hoverColor: rgba(0,0,0,0.2);

	border: 1px solid #cecece;
	padding: 1em;

	// Heading Container
	>div:first-child {
		margin-bottom:2em;
		border-bottom: 1px solid #cecece;
	}


	// Chart & Nav
	>div:last-child {
		width: 100%;
		display: flex;

		// Chart
		.ob-history-chart-container {

			.heading {
				margin-bottom: 1em;
				text-align: right;

				span {
					padding: 0 0.5em;
					cursor: pointer;
					border-radius: 10px;

					transition: background-color 0.3s;

					&.selected {
						background-color: #374146;
						color: white;

						cursor: default;
					}

					&:hover {
						background-color: rgba(0,0,0,0.2);
					}

					&:last-child {
					}
				}
			}

			flex: 1;
			background-color: $backgroundColor;
			padding: 1em 2em;
			border: 1px solid $borderColor;
			border-left: none;
		}

		// Nav
		ul {
			display: flex;
			flex-direction: column;
			height: 100%;

			li {
				&:first-child {
					border-top: 1px dotted #cecece;
				}

				&:last-child {
					flex-grow: 1;
					border-right: 1px solid $borderColor;
					&:hover {
						background: inherit;
						cursor: inherit;
					}
				}

				&.selected {
					cursor: inherit;
					background-color: $backgroundColor;
					border: 1px solid $borderColor;
					border-radius: 5px 0 0 5px;
					border-right: none;
					&:hover {
						background-color: $backgroundColor;
					}
				}

				list-style-type: none;
				white-space: nowrap;
				padding: 1em;
				cursor: pointer;
				border-bottom: 1px dotted #cecece;
				margin-left: 0 !important;
				border-right: 1px solid $borderColor;

				transition: background-color 0.3s;

				&:hover {
					background-color: $hoverColor;
				}
			}
		}
	}
}
