<div class="ob-time-chart-container">
	<div>
		<h2>Stats over time</h2>
	</div>

	<div>
		<div class="ob-chart-nav-container">
			<ul>
				<li data-ng-click="selectedData = 'DifferentialOverTime'" ng-class="selectedData === 'DifferentialOverTime' ? 'selected' : ''">Win/Loss Differential</li>
				<li data-ng-click="selectedData = 'ADROverTime'" ng-class="selectedData === 'ADROverTime' ? 'selected' : ''">ADR</li>
				<li data-ng-click="selectedData = 'HeadshotKillsOverTime'" ng-class="selectedData === 'HeadshotKillsOverTime' ? 'selected' : ''">Headshot Kill Rate</li>
				<li data-ng-click="selectedData = 'HeadshotRateOverTime'" ng-class="selectedData === 'HeadshotRateOverTime' ? 'selected' : ''">Headshot Rate</li>
				<li data-ng-click="selectedData = 'AccuracyOverTime'" ng-class="selectedData === 'AccuracyOverTime' ? 'selected' : ''">Accuracy</li>
				<li>
					<!-- filler to help with tabs + transparency -->
					&nbsp;
				</li>
			</ul>
		</div>

		<div class="ob-history-chart-container">
			<div class="heading">
				<span ng-repeat="f in filters" ng-class="f.selected ? 'selected': ''" ng-click="applyFilter(f)">{{f.name}}</span>
			</div>
			<canvas class="chart chart-line" chart-data="[data]" chart-labels="labels"  chart-series="series"
				chart-options="historyChartOptions" height="50" ng-if="data" chart-click="onClick"></canvas>
			
		</div>
	</div>
</div>