<div class="ob-time-chart-container">
	<div>
		<h2>Stats over time</h2>
	</div>

	<div>
		<div>
			<ul>
				<li data-ng-click="selectedData = 'DifferentialOverTime'" ng-class="selectedData === 'DifferentialOverTime' ? 'selected' : ''">Win/Loss Differential</li>
				<li data-ng-click="selectedData = 'ADROverTime'" ng-class="selectedData === 'ADROverTime' ? 'selected' : ''">ADR</li>
				<li data-ng-click="selectedData = 'HeadshotKillsOverTime'" ng-class="selectedData === 'HeadshotKillsOverTime' ? 'selected' : ''">Headshot Kill Rate</li>
				<li data-ng-click="selectedData = 'HeadshotRateOverTime'" ng-class="selectedData === 'HeadshotRateOverTime' ? 'selected' : ''">Headshot Rate</li>
				<li data-ng-click="selectedData = 'AccuracyOverTime'" ng-class="selectedData === 'AccuracyOverTime' ? 'selected' : ''">Accuracy</li>
				<li>
					<!-- filler to help with tabs + transparency -->
					&nbsp;
				</li>
			</ul>
		</div>

		<div>
			<canvas class="chart chart-line" chart-data="[historyData[selectedData].data]"
				chart-labels="historyData[selectedData].labels"  chart-series="historyData[selectedData].series"
				chart-options="historyChartOptions" height="50" ng-if="historyData" chart-click="onClick"></canvas>
			
		</div>
	</div>
</div>