#userActionsToggle {
	display: block;
	float: right;
	padding: 1em;
	cursor: pointer;
}

#userActionsMenu {
	position: absolute;
	right: 0.1%;
	top: 3em;
	border: 1px solid gray;
	height: 200px;
	width: 150px;
	z-index:100;

	background-color: white;

	@include drop-shadow(10px, 0.5);

	ul {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
	}

	li {
		border-bottom: 1px dotted gray;
		height: 4em;

		&.filler {
			&:hover {
				background-color: inherit;
			}
		}

		a {
			display: block;
			text-decoration: none;
			padding: 10px;
		}
	}

	li:hover {
			background-color: #cecece;
			color: black;
		}
}