<tr>
	<td colspan="7">
		<div class="ob-detail-container">
			<div class="ob-map-detail-header">
				<div style="text-align: center">
					<img ng-src="{{::mapIcon}}" ng-if="mapIcon"/>
				</div>

				<aggregate-map-data-chart map-data="mapData.historyData" chart-title="Win / Loss / Draw" ng-if="mapData.historyData"/>
			</div>

			<div class="ob-overall-stats-container">
				<dl class="ob-list-side-by-side" ng-if="mapData">
					<dt>Total Kills</dt>
					<dd>{{totals.kills}}</dd>
					<dt>Deaths</dt>
					<dd>{{totals.deaths}}</dd>
					<dt>Assists</dt>
					<dd>{{totals.assists}}</dd>
					<dt>KDA</dt>
					<dd>{{totals.kda}}</dd>
				</dl>

				<dl class="ob-list-side-by-side">
					<dt>Total ADR</dt>
					<dd>{{totals.totalADR}}</dd>
					<dt>CT ADR</dt>
					<dd>{{totals.ctADR}}</dd>
					<dt>T ADR</dt>
					<dd>{{totals.tADR}}</dd>
				</dl>

				<dl class="ob-list-side-by-side">
					<dt>Overall Round Winrate</dt>
					<dd>{{totals.roundWinRate}}% ({{totals.totalRoundWins}} / {{totals.totalRoundsPlayed}})</dd>

					<dt>Counter Terrorist Winrate</dt>
					<dd>{{totals.ctRoundWinRate}}% ({{totals.ctRoundsWon}} / {{totals.ctRoundsPlayed}})</dd>

					<dt>Terrorist Winrate</dt>
					<dd>{{totals.tRoundWinRate}}% ({{totals.tRoundsWon}} / {{totals.tRoundsPlayed}})</dd>
				</dl>

				<div class="ob-chart-fullwidth" style="flex-grow: 1; width: 100%">
					<match-history-chart match-history-data="mapData.historyData" chart-title="Match History" ng-if="mapData.historyData"/>
				</div>
			</div>
		</div>
	</td>
</tr>