.ob-match-summary-container {
	display: flex; 
	justify-content: space-between; 
	flex-wrap: wrap;
}

.ob-match-summary-aside {
	display: flex;
	cursor: pointer;
	border: 1px solid #cecece;
	background-color: rgba(255,255,255,0.8);
	color: rgba(0,0,0,0.8);
	margin: 5px none; //10px;

	&:hover {
		background-color: rgba(255,255,255,0.6);
	}

	>div {
		padding: 1em;

		&:first-child {
			min-width: 120px;
		}
	}

	div {
		white-space: nowrap;
	}

	.ob-score {
		font-size: 1.2em;
		font-weight: bold;
	}

	.fa-trophy {
		color: LimeGreen;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.ob-match-summary-aside {
		margin-bottom: 0.5em;
		flex-direction: column;


		>div:first-child {
			min-width: auto;
			padding-bottom: 0;
			margin-bottom: 0;
		}

		> div {
			text-align: center;
		}
	}
}