footer {
	width:100%;
	display: flex;
	justify-content: center;
	flex-align: space-between;

	background-color: rgb(55,65,70);
	padding: 2em;
	height: auto;

	>div {
		color: rgba(255,255,255,0.5);
		padding: 2em 3em;
	}

	a {
		color: #6d787e;
		text-decoration: none;

		 &:hover {
		 	text-decoration: underline;
		 }
	}
}