nav {
	background-color: white;
	color: #111;
	text-transform: none;
	width: 100%;
	margin:0 auto;
	height: 3em;

	.hamburger {
		display: none;
	}

	>ul {
		display: flex;
		width: 50%;
		float: left;

		>li {
			 
			>a {
				display: block;
				text-decoration: none;
				cursor: pointer;
				padding: 13.5px 15px;

				&:hover {
					height: auto;
					background-color: rgb(55,65,70);
					color: rgb(157,175,183);
				}
			}

			a.ob-nav-signin {
				&:hover {
					background-color: inherit !important;
				}
			}
		}
	}

	.steamLogin {
		padding-top: 9px;
		padding-right: 9px;
		display: inline-block;
		float: right;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	nav .hamburger {
		display: inline-block;
		background: none;
		border: 1px solid #cecece;
		border-radius: 2px;
		margin: 0.5em 2em 0 0.5em;
		font-size: 1.2em;

		~ul {
			position: absolute;
			z-index: 10;
			top: 3em;
			//visibility: hidden;
			display: block;
			background-color: #1d1f20;

			a {
				color: #eee;
			}

			&.visible {
				//visibility: visible;
			}

			li {
				border-bottom: 1px dotted #cecece;

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}