.ob-list-side-by-side {

  dt {
    float: left;
    margin-right: 10%;
    max-width: 45%;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
  }
  
  dd {
    color: grey;
    margin-left: 55%;
    margin-bottom: .5em;
  }
  
  dd::after {
    content: " ";
    display: block;
    clear: left;
  }  
}