#loginFlyout {
	position: absolute;
	top: 150px;
	right: 0.5%;
	border: 1px solid gray;
	height: 250px;
	width: 190px;
	padding: 15px;
	background-color: $navBackground;
	
	@include drop-shadow(10px, 0.5);
	
	text-align: center;

	input {
		&[type="text"], &[type="password"] {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.steamLogin {
		margin-bottom: 5px;
	}
}