.ob-match-summary-container {
	display: flex; 
	justify-content: space-between; 
	flex-wrap: wrap
}

.ob-match-summary-aside {
	display: flex;
	cursor: pointer;
	border: 1px solid #cecece;
	background-color: rgba(255,255,255,0.8);
	color: rgba(0,0,0,0.8);
	margin: 5px none; //10px;

	&:hover {
		background-color: rgba(255,255,255,0.3);
	}

	>div {
		padding: 10px;

		&:first-child {
			min-width: 120px;
		}
	}

	div {
		white-space: nowrap;
	}

	.ob-score {
		font-size: 1.2em;
		font-weight: bold;
	}

	.fa-trophy {
		color: LimeGreen;
	}
}