.ob-time-chart-container {
	border: 1px solid #cecece;
	//background-color: white;
	margin-bottom: 2em;
	padding: 1em;

	>div:first-child {
		margin-bottom:2em;
		border-bottom: 1px solid #cecece;
	}

	div:last-child {
		width: 100%;
		display: flex;

		div:last-child {
			flex: 1;
		}

		ul {
			li {
				&:first-child {
					border-top: 1px dotted #cecece;
				}

				&.selected {
					cursor: inherit;
					background-color: rgba(0,0,0,0.2);
				}

				list-style-type: none;
				white-space: nowrap;
				padding: 1em;
				cursor: pointer;
				border-bottom: 1px dotted #cecece;
				margin-left: 0 !important;

				&:hover {
					background-color: rgba(0,0,0,0.2);
				}
			}
		}
	}
}