#breakdownContent {
	
	width: 100%;
	margin-top: 0px;
	
	.breakdown-banner {
		padding: 1em 2em;
		background-color: #222;

		h1 {
			color: #cecece;
			display: inline-block;
		}
	}
	
	.side-by-side {

		display: flex;

		.left {
			min-width: 15em;
			padding: 0 1em;
			background-color: #222;
		}

		.right {
			//padding: 20px;
			flex: 1;
			background-color: rgba(0,0,0,0.1);
		}
	}
}

.ob-breakdown-container {

	>div {
		padding: 2em;
	}
}


#content {
	width: 100%;
	margin-top: 0px;
	padding-bottom: 0px;
	background-color: white;
}

ul.ob-matchdata-nav {
	list-style-type: none !important;
	display:flex;

	li {

		&:first-child {
			&:hover {
				background-color: inherit;
			}
		}

		margin-left: 0px !important;
		border-right: 1px dotted gray;
		padding: 0 2em;


		&:hover {
			background-color: rgba(0,0,0,0.4);
		}

		a {
			display: block;
			color: #cecece;
			line-height: 35px;
			padding: 1em 1em;
			text-decoration: none;
		}
	}
}

.ob-map-breakdown {
	h3 {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
}