#breakdownContent {
	
	width: 100%;
	margin-top: 0px;
	display: flex;
	
	.left {
		min-width: 15em;
		padding: 2em;
	}

	.right {
		//padding: 20px;
		flex: 1;
		background-color: rgba(0,0,0,0.1);
	}
}

.ob-breakdown-container {

	>div {
		padding: 2em;
	}
}


#content {
	width: 100%;
	margin-top: 0px;
	padding-bottom: 0px;
	background-color: white;
}

ul.ob-matchdata-nav {
	list-style-type: none !important;

	li {

		&:first-child {
			padding: 10px;
			
			&:hover {
				background-color: inherit;
			}
		}

		margin-left: 0px !important;
		//text-transform: uppercase;
		border-bottom: 1px dotted gray;

		&:hover {
			background-color: rgba(0,0,0,0.1);
		}

		a {
			display: block;
			//height: 35px;
			line-height: 35px;
			padding: 1em 1em;
			text-decoration: none;
		}
	}
}

.ob-map-breakdown {
	h3 {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
}