#content > div {
	$borderColor: #54606d;

	display: flex;

	>div {
		padding: 20px;
		width: 100%;
	}

	img {
		max-width: 500px;
		height:auto;
	}

	.left {
	}

	.right {
		width:180px;
	}
}

.ob-home {
	display: flex;
	flex-direction: column;
	background-color: white;
	color: #111;
	font-size: 1.1em;
	
	.ob-hero {
		width: 100%;
		background-color: rgb(55,65,70);
		padding-top: 2em;
		padding-bottom: 3em;
		color: #e1e1e1;
		text-align: center;

		div:first-child {
			margin: 10px auto;
		}
		
		div.ob-search-container {
			width: 500px;
			margin: 10px auto;
			background-color: #333;
			padding: 20px;
			border-radius: 10px;
			text-align: center;
			position: relative;

			h1 {
				margin-top: auto;
			}

			input {
				width: 80%;
				height: 1.5em;
				font-size: 1.5em;
			}

			ul {
				background-color: white;
				width: 74%;
				left: 13%;
				margin: 0px auto;
				z-index: 999;
				border: 0px 1px 1px 1px;
				border-color: #cecece;
				position: absolute;
				color: #111;

				li {
					font-size: 1.1em;
					text-align: left;
					padding: 5px;
					cursor: pointer;

					&.selected {
						background-color: #cecece;
					}
				}
			}
		}
		
	}

	.ob-top-users {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		margin-bottom: 2em;

		>div:last-child {
			margin-right: 0;
		}
	}

	.ob-home-section {
		padding: 2em 8em;

		img {
			max-width: 100%;
			max-height: auto;
		}
	}

	#ob-how-it-works {
		background-color: #333;

		h2 {
			color: white;
		}

		>div {
			display: flex;
			justify-content: center;
			color: white;
			padding: 2em;
			border-radius: 10px;

			>div {
				flex-basis: 25%;
				padding: 0 2em;
				text-align: center;
				border-right: 1px dotted white;
				&:last-child {
					border-right: none;
				}
			}

			div.ob-centered {
				font-size: 4em;
			}
		}
	}

	#ob-key-features {
		background-color: rgb(110, 146, 169);
		color: rgba(0,0,0,0.7);

		h2, h3 {
			color: #2a5773;
		}
	}

	#ob-feedback-toggle div.vertical-text {
		padding: 6px;
	}
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	.ob-home {
		.ob-home-section {
			padding: 2em 2em;
		}

		.ob-hero {

			text-align: center;

			img {
				max-width: 80%;
				max-height: auto;
			}

			div.ob-search-container {
				width: 80%;
			}
		}

		.ob-top-users {
			display: block;

			>div {
				width: 80%;
				margin: 1em auto;
				height: auto;
			}

			>div:last-child {
				margin-right: auto;
			}
		}

		#ob-how-it-works {
			flex-direction: column;
			justify-content: space-between;

			>div {
				display: block;
				width: auto;
				margin-bottom: 1em;
				padding: 0.5em;

				>div {
					padding: 1em 0.5em;
					border-right: none;
					border-bottom: 1px dotted white;
				}

				>p {
					padding: 0.5em;
				}
			}
		}

		.ob-fluff-image {
			margin: auto;
		}

		.ob-pull-left {
			float: none;
		}
	}
}