// these are sensitive to order....
@import 'reset';
@import 'mixins';
@import 'colors';
@import 'headings';
@import 'header';
@import 'globalNav';
@import 'content';
@import 'footer';
@import 'forms';
@import 'tables';
@import 'lib/css-lib';
@import 'chart';
@import 'textDecorations';
@import 'layouts';
@import 'flashMessages';
@import 'ads';
@import 'tooltips';
@import 'loadingOverlay';
@import 'signin';
@import '../../js/**/*.scss';

//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height:100%;
}

html {
	height:100%;
}

html, body {
	font: 14px/1.5 'Open Sans', sans-serif;
	color: $mainTextColor;
	background-color: $mainBackground;
}

a {
	color: $linkColor;

	&:visited {
		color: $linkColor;
	}
}

p {
	margin-bottom:10px;
	//text-indent: 5%;
}

ol {
	padding-left: 1em;
	
	li {
		counter-increment: step-counter;
		margin-bottom: 1em;

		&::before {
			content: counter(step-counter);
		    margin-right: 5px;
		    font-size: 80%;
		    background-color: #374146;
		    color: white;
		    font-weight: bold;
		    padding: 3px 8px;
		    border-radius: 3px;
		}
	}
}

dl.ob-def-list {
	margin: 10px 0;
	clear: both;

	dt {
		float:left;
		text-align: right;
		padding-right: 10px;
		font-weight: bold;
		min-width: 7.5em;
	}

	dd::after {
		content: " ";
		display: block;
		clear: left;
	} 
}

.ob-hidden {
	display: none;
}

.ob-fadeOut {
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease;
}

.ob-fadeIn {
	visibility: visible;
	opacity: 1;
	transition: all .5s ease;
}

.ob-pull-left {
	float: left;
}

.ob-pull-right {
	float: right;
}

.ob-clear {
	clear: both;
}

.ob-fluff-image {
	border: 1px solid #cecece;
	margin: 20px;
}

.ob-centered {
	text-align: center;
}

.vertical-text {
  @include transform-rotate(90deg);
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

.ob-body {
	flex-grow: 2;
	padding-top: 2em;
	background-color: rgb(55,65,70);
}

.ob-content {
	padding: 3em 8em;
	display: flex;
	justify-content: space-between;
	background-color: rgba(0,0,0,0.1);

	>div {
		border: 1px solid rgba(0,0,0,0.2);
		padding: 2em;
		background-color: white;

		&:first-child {
			flex-grow: 1;
			border-right: none;
		}

		&:last-child {
			border-left: none;
			width: 25%;
		}
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	header {
		height: 10em;
		padding: 2em;

		img {
			width: 100%;
		}
	}

	.ob-content {
		padding: 0.5em;

		flex-direction: column;

		>div:first-child {
			order: 2;
			border-top: 0;
			padding-top: 0.5em;
		}

		>div:last-child {
			order: 1;
			width: 100%;
			border-left: 1px solid #cecece;
			border-right: 1px solid #cecece;
			border-top: 1px solid #cecece;
			border-bottom: 0;
			padding: 0.5em;
		}
	}

	footer {
		flex-direction: column;
		text-align: center;

		h3 {
			text-align: center;
		}
	}
}

.ob-block-button {
	border: 1px solid #cecece;
	border-radius: 5px;
	@include drop-shadow(10px, 0.5);
	text-decoration: none;
	color: $mainTextColor;

	&:hover {
		cursor: pointer;
		//background-color: #555;
		background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.5))
	}
}