.ob-match-outcome {

	padding: 3px;
	width: 55px;
	display: block;
	text-align: center;
	font-weight: bold;
	border: 1px solid;

	&.ob-loss {
		color: #D8000C;
		background-color: #FFBABA;
	}

	&.ob-win {
		color: #4F8A10;
		background-color: #DFF2BF;
	}

	&.ob-draw {
		color: #9F6000;
		background-color: #FEEFB3;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.ob-chart-fullwidth {
		display: none;
	}

	.ob-match-list-table {
		th,td {
			&:nth-child(5), &:nth-child(6) {
				display: none;
			}
		}

		img {
			width: 35%;
		}
	}
}