<h1>User Administration</h1>

<script type="text/ng-template" id="userEditorTemplate">
	<h1><img src="{{currentUser.avatar}}"/> {{currentUser.username}}</h1>
	
	<h2>User Info</h2>
	<table>
		<tr>
			<th>Email</th>
			<td><a href='mailto:{{currentUser.email}}'>{{currentUser.email}}</a></td>
		</tr>
		<tr>
			<th>SteamID</th>
			<td>{{currentUser.steamID}}</td>
		</tr>
	</table>

	<h2>Roles</h2>
	<ul>
		<li>
			<input type='checkbox' data-ng-model="checks.visitorChecked" id="visitorCheckbox"/>
			<label for="visitorCheckbox">Visitor</label>
		</li>
		<li>
			<input type='checkbox' data-ng-model="checks.userChecked" id="userCheckbox"/>
			<label for="userCheckbox">User</label>
		</li>
		<li>
			<input type='checkbox' data-ng-model="checks.adminChecked" id="adminCheckbox"/>
			<label for="adminCheckbox">Admin</label>
		</li>
	</ul>

	<button type="button" data-ng-click="updateUser()">Update</button>
</script>

<table class="ob-table">
	<thead>
		<tr>
			<th></th>
			<th>User</th>
			<th>Steam ID</th>
			<th>Roles</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="user in data" data-ng-click="setCurrentUser(user)">
			<td style="width: 50px;"><a href="/User/{{user.steamID}}"><img data-ng-src="{{user.avatar}}"/></a></td>
			<td><a href="/User/{{user.steamID}}" ng-click="$event.stopPropagation()">{{user.username}}</a></td>
			<td>{{user.steamID}}</td>
			<td>{{user.roles}}</td>
			<tD><a href="mailto:{{user.email}}">{{user.email}}</a></td>
		</tr>
	</tbody>
</table>