<div class="ob-breakdown-container">

<div>

	<div class="ob-warning-notification" ng-if="warningMessage">
		<i class="fa fa-exclamation-circle" aria-hidden="true"></i> <span ng-bind-html="warningMessage"></span>
	</div>

	<div class="ob-overall-banner">
		<h1>Overall Data for {{playerName}}</h1>
		<div>
			<img ng-src="{{rank.Img}}"/>
		</div>
	</div>

	<div class="ob-match-summary-container">
		<div data-ng-repeat="m in recentMatches">
			<match-summary-aside 
				round-wins="{{::m.totalRoundWins}}"
				round-losses="{{::(m.totalRoundsPlayed - m.totalRoundWins)}}"
				map="{{::m.map}}"
				match-date="{{::(m.demoDate | date : short)}}"
				adr="{{::m.adr}}"
				match-id="{{::m.matchId}}"
				result="{{::m.result}}"/>
		</div>
	</div>

	<div>
		<div class="ob-overall-stats-container">
			<dl class="ob-list-side-by-side">
				<dt>Kills</dt>
				<dd>{{::totals.kills}}</dd>
				<dt>Deaths</dt>
				<dd>{{::totals.deaths}}</dd>
				<dt>Assists</dt>
				<dd>{{::totals.assists}}</dd>
				<dt>KDA</dt>
				<dd>{{::totals.kda}}</dd>
			</dl>
			<dl class="ob-list-side-by-side">
				<dt>Total ADR</dt>
				<dd>{{::totals.totalADR}}</dd>
				<dt>CT ADR</dt>
				<dd>{{::totals.ctADR}}</dd>
				<dt>T ADR</dt>
				<dd>{{::totals.tADR}}</dd>
			</dl>

			<dl class="ob-list-side-by-side">
				<dt>Overall Round Winrate</dt>
				<dd>{{::totals.roundWinRate}}% ({{::totals.totalRoundWins}} / {{::totals.totalRoundsPlayed}})</dd>

				<dt>Counter Terrorist Winrate</dt>
				<dd>{{::totals.ctRoundWinRate}}% ({{::totals.ctRoundsWon}} / {{::totals.ctRoundsPlayed}})</dd>

				<dt>Terrorist Winrate</dt>
				<dd>{{::totals.tRoundWinRate}}% ({{::totals.tRoundsWon}} / {{::totals.tRoundsPlayed}})</dd>
			</dl>
		</div>
	</div>

	<div style="background-color: rgba(255,255,255,0.8); border: 1px solid #cecece; margin-bottom:2em;" class="ob-history-chart-container">
		<history-data-chart history-data="historyData"></history-data-chart>
	</div>

	<map-breakdown class="ob-map-breakdown" map-data="mapData" ng-if="mapData"></map-breakdown>
</div>
</div>