<div class="ob-breakdown-container">

<style ng-if="screenshot">

#breakdownContent {
	background-image: url({{screenshot}});
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: inherit;
	background-size: 100% 100%;
	background-position: right top;
}

#breakdownContent >div:not(:first-child) {
	background-color: rgba(255, 255, 255, 0.3);
}

</style>

<div>
	<div style="background-color: rgba(255,255,255,0.8); border: 1px solid #cecece; margin-bottom:2em; padding:1em;">
		<h1>{{username}}'s Friends</h1>
	</div>

	<toaster-container></toaster-container>

	<div class="ob-friends-container">
		<div ng-repeat="(key, value) in friends" ng-click="goToFriend(value.steamID)">
			<div style="display: flex">
				<div>
					<span class="ob-friend-name">{{value.username}}</a>
				</div>
				<div style="text-align: right; flex: 1; font-size: 1.2em; padding-right: 5px;">
					<i class="fa fa-trash-o" style="cursor: pointer" aria-hidden="true" ng-click="removeFriend(key); $event.stopPropagation();"></i>
				</div>
			</div>
			
			<div style="display: flex; margin-top: 15px">
				<div class="ob-image-container container">
					<img src="{{value.avatarMedium}}" ng-if="value.avatarMedium"/>
					<img src="/assets/images/ctlogo64.png" ng-if="!value.avatarMedium"/>
				</div>
				<div class="ob-info-container container">
					<dl>
						<dt>Matches Played</dt>
						<dd>{{value.matchesPlayedTogether}}</dd>
						<dt>Win Rate</dt>
						<dd>{{value.winRate}}</dd>
						<dt>Streak</dt>
						<dd>{{value.streak}}</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>

</div>
</div>